In [1]:
import pandas as pd

In [5]:
df = pd.read_csv("datasets/daily/AAPL.csv", index_col=0)

In [15]:
close = df['Close']

In [17]:
idx = []
for i in range(2, len(close)):
    if close[i-2] > close[i-1] < close[i]:
        print(close[i-2:i+1])

Date
2020-01-02    300.350006
2020-01-03    297.429993
2020-01-06    299.799988
Name: Close, dtype: float64
Date
2020-01-06    299.799988
2020-01-07    298.390015
2020-01-08    303.190002
Name: Close, dtype: float64
Date
2020-01-14    312.679993
2020-01-15    311.339996
2020-01-16    315.239990
Name: Close, dtype: float64
Date
2020-01-17    318.730011
2020-01-21    316.570007
2020-01-22    317.700012
Name: Close, dtype: float64
Date
2020-01-24    318.309998
2020-01-27    308.950012
2020-01-28    317.690002
Name: Close, dtype: float64
Date
2020-01-31    309.510010
2020-02-03    308.660004
2020-02-04    318.850006
Name: Close, dtype: float64
Date
2020-02-06    325.209991
2020-02-07    320.029999
2020-02-10    321.549988
Name: Close, dtype: float64
Date
2020-02-10    321.549988
2020-02-11    319.609985
2020-02-12    327.200012
Name: Close, dtype: float64
Date
2020-02-12    327.200012
2020-02-13    324.869995
2020-02-14    324.950012
Name: Close, dtype: float64
Date
2020-02-14    324.950012
2020-02-18    319.000000
2020-02-19    323.619995
Name: Close, dtype: float64
Date
2020-02-24    298.179993
2020-02-25    288.079987
2020-02-26    292.649994
Name: Close, dtype: float64
Date
2020-02-27    273.519989
2020-02-28    273.359985
2020-03-02    298.809998
Name: Close, dtype: float64
Date
2020-03-02    298.809998
2020-03-03    289.320007
2020-03-04    302.739990
Name: Close, dtype: float64
Date
2020-03-06    289.029999
2020-03-09    266.170013
2020-03-10    285.339996
Name: Close, dtype: float64
Date
2020-03-11    275.429993
2020-03-12    248.229996
2020-03-13    277.970001
Name: Close, dtype: float64
Date
2020-03-13    277.970001
2020-03-16    242.210007
2020-03-17    252.860001
Name: Close, dtype: float64
Date
2020-03-20    229.240005
2020-03-23    224.369995
2020-03-24    246.880005
Name: Close, dtype: float64
Date
2020-03-24    246.880005
2020-03-25    245.520004
2020-03-26    258.440002
Name: Close, dtype: float64
Date
2020-03-26    258.440002
2020-03-27    247.740005
2020-03-30    254.809998
Name: Close, dtype: float64
Date
2020-03-31    254.289993
2020-04-01    240.910004
2020-04-02    244.929993
Name: Close, dtype: float64
Date
2020-04-02    244.929993
2020-04-03    241.410004
2020-04-06    262.470001
Name: Close, dtype: float64
Date
2020-04-06    262.470001
2020-04-07    259.429993
2020-04-08    266.070007
Name: Close, dtype: float64
Date
2020-04-14    287.049988
2020-04-15    284.429993
2020-04-16    286.690002
Name: Close, dtype: float64
Date
2020-04-20    276.929993
2020-04-21    268.369995
2020-04-22    276.100006
Name: Close, dtype: float64
Date
2020-04-22    276.100006
2020-04-23    275.029999
2020-04-24    282.970001
Name: Close, dtype: float64
Date
2020-04-27    283.170013
2020-04-28    278.579987
2020-04-29    287.730011
Name: Close, dtype: float64
Date
2020-04-30    293.799988
2020-05-01    289.070007
2020-05-04    293.160004
Name: Close, dtype: float64
Date
2020-05-12    311.410004
2020-05-13    307.649994
2020-05-14    309.540009
Name: Close, dtype: float64
Date
2020-05-14    309.540009
2020-05-15    307.709991
2020-05-18    314.959991
Name: Close, dtype: float64
Date
2020-05-18    314.959991
2020-05-19    313.140015
2020-05-20    319.230011
Name: Close, dtype: float64
Date
2020-05-20    319.230011
2020-05-21    316.850006
2020-05-22    318.890015
Name: Close, dtype: float64
Date
2020-05-22    318.890015
2020-05-26    316.730011
2020-05-27    318.109985
Name: Close, dtype: float64
Date
2020-05-28    318.250000
2020-05-29    317.940002
2020-06-01    321.850006
Name: Close, dtype: float64
Date
2020-06-03    325.119995
2020-06-04    322.320007
2020-06-05    331.500000
Name: Close, dtype: float64
Date
2020-06-10    352.839996
2020-06-11    335.899994
2020-06-12    338.799988
Name: Close, dtype: float64
Date
2020-06-16    352.079987
2020-06-17    351.589996
2020-06-18    351.730011
Name: Close, dtype: float64
Date
2020-06-18    351.730011
2020-06-19    349.720001
2020-06-22    358.869995
Name: Close, dtype: float64
Date
2020-06-23    366.529999
2020-06-24    360.059998
2020-06-25    364.839996
Name: Close, dtype: float64
Date
2020-06-25    364.839996
2020-06-26    353.630005
2020-06-29    361.779999
Name: Close, dtype: float64
Date
2020-07-06    373.850006
2020-07-07    372.690002
2020-07-08    381.369995
Name: Close, dtype: float64
Date
2020-07-10    383.679993
2020-07-13    381.910004
2020-07-14    388.230011
Name: Close, dtype: float64
Date
2020-07-16    386.089996
2020-07-17    385.309998
2020-07-20    393.429993
Name: Close, dtype: float64
Date
2020-07-20    393.429993
2020-07-21    388.000000
2020-07-22    389.089996
Name: Close, dtype: float64
Date
2020-07-23    371.380005
2020-07-24    370.459991
2020-07-27    379.239990
Name: Close, dtype: float64
Date
2020-07-27    379.239990
2020-07-28    373.010010
2020-07-29    380.160004
Name: Close, dtype: float64